.chart-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.chart-container canvas {
  margin-top: 0 !important;
}

@media (min-width: 768px) {
  .chart-container {
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .chart-container {
    height: 550px;
  }
}
